<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Favorite Food</title>
  </head>

  <body>
    <h1>Welcome to CANDY WORLD!!!</h1>
    <h2>Create your bag of internet candies, for FREE!</h2>
    <img src="https://media.istockphoto.com/photos/colorful-candy-picture-id536975153?k=6&m=536975153&s=612x612&w=0&h=ypQiGanbWVDdXkrMpwhIlPc6RDya_B14LskRqfBSTxc=">
    <h2>Options: Jolly Rancher, M&M, Skittle, Sour Patch Kid, Air head, Mamba, Starburst, Gummy bears or any other candy you like!</h2>

    <!-- Insert Your Form Below -->
    <form  method="POST" action ="/bag_of_candy">
      <p>Which type? <input type="text" name="candy"></p>
      
      <p>How many? <input type="text" name="number"></p>
      <input type="submit">
    </form>


  </body>
</html>
